@inject IJSRuntime Js
@inject HttpClient Http

@using System.Net.Http
@using DataModel
@using FormModel


<div class="modal fade" id="EditUsuarioModal" tabindex="-1" aria-labelledby="EditUsuarioModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Usuario</h5>
                <button type="button" class="close"  @onclick="@(e =>  OpenModalCerrar())" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                   
                    <div class="row">
                        @if (ModeloUsuario != null)
                        {

                            @if (ModeloUsuario.perfil == "ALUMNO")
                            {

                                <EditForm Model="@ModeloUsuario" OnValidSubmit="HandleSubmit">
                                    <DataAnnotationsValidator />
                                    @*<ValidationSummary />*@


                                    <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input type="text" id="name" class="form-control" @bind="ModeloUsuario.alumno.nombre" />
                                        <ValidationMessage For="@(() => ModeloUsuario.alumno.nombre)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ApPaterno">Apellido Paterno</label>
                                        <input type="text" id="ApPaterno" class="form-control" @bind="ModeloUsuario.alumno.apellidoPaterno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.alumno.apellidoPaterno)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ApMaterno">Apellido Materno</label>
                                        <input type="text" id="ApMaterno" class="form-control" @bind="ModeloUsuario.alumno.apellidoMaterno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.alumno.apellidoMaterno)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" class="form-control" @bind="ModeloUsuario.alumno.correoAlumno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.alumno.correoAlumno)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Teléfono</label>
                                        <input type="text" id="phone" class="form-control" @bind="ModeloUsuario.alumno.telefono" />
                                        <ValidationMessage For="@(() => ModeloUsuario.alumno.telefono)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="rut">Rut</label>
                                        <input type="text" id="rut" class="form-control" @bind="ModeloUsuario.alumno.rut" />
                                        <ValidationMessage For="@(() => ModeloUsuario.alumno.rut)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="perfilSelect">Perfil</label>
                                        <select class="form-control" id="perfilSelect" @bind="ModeloUsuario.perfil">

                                            <option value="">--Eliga una opcion de perfil--</option>
                                            @foreach (var perfil in PerfilList)
                                            {
                                                <option value="@perfil.Code"> @perfil.Name </option>
                                            }


                                        </select>

                                    </div>
                                    @if (ModeloUsuario.perfil == "ALUMNO")
                                    {
                                        <div class="form-group">
                                            <label for="escSelect">Carrera</label>
                                            <select class="form-control" id="escSelect" @bind="ModeloUsuario.alumno.carrera.id">

                                                <option value="">--Eliga una carrera--</option>
                                                @foreach (var carrera in CarList)
                                                {
                                                    <option value="@carrera.Code"> @carrera.Name </option>
                                                }


                                            </select>

                                        </div>


                                    }
                                    @*else if (NuevoUsuarioModel.perfil == "DOCENTE" || NuevoUsuarioModel.perfil == "COORDINADOR" || NuevoUsuarioModel.perfil == "DIRECTOR")
                    {
                        <div class="form-group">
                            <label for="escSelect">Escuela</label>
                            <select class="form-control" id="escSelect" @bind="@SelectedEsc">

                                <option value="">--Eliga una escuela--</option>
                                @foreach (var escuela in EscList)
                                {
                                    <option value="@escuela.Code"> @escuela.Name </option>
                                }
                                }

                            </select>

                        </div>

                    }*@

                                    <button type="submit" class="btn btn-success" value="Save">Guardar Usuario</button>
                                    <button type="reset" class="btn btn-success borrar">Borrar Datos</button>
                                </EditForm>
                            }
                            else if (ModeloUsuario.perfil == "DIRECTOR")
                            {
                                <EditForm Model="@ModeloUsuario" OnValidSubmit="HandleSubmit">
                                    <DataAnnotationsValidator />
                                    @*<ValidationSummary />*@


                                    <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input type="text" id="name" class="form-control" @bind="ModeloUsuario.director.nombre" />
                                        <ValidationMessage For="@(() => ModeloUsuario.director.nombre)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ApPaterno">Apellido Paterno</label>
                                        <input type="text" id="ApPaterno" class="form-control" @bind="ModeloUsuario.director.apellidoPaterno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.director.apellidoPaterno)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ApMaterno">Apellido Materno</label>
                                        <input type="text" id="ApMaterno" class="form-control" @bind="ModeloUsuario.director.apellidoMaterno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.director.apellidoMaterno)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" class="form-control" @bind="ModeloUsuario.director.correoDirector" />
                                        <ValidationMessage For="@(() => ModeloUsuario.director.correoDirector)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Teléfono</label>
                                        <input type="text" id="phone" class="form-control" @bind="ModeloUsuario.director.telefono" />
                                        <ValidationMessage For="@(() => ModeloUsuario.director.telefono)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="rut">Rut</label>
                                        <input type="text" id="rut" class="form-control" @bind="ModeloUsuario.director.rut" />
                                        <ValidationMessage For="@(() => ModeloUsuario.director.rut)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="perfilSelect">Perfil</label>
                                        <select class="form-control" id="perfilSelect" @bind="ModeloUsuario.perfil">

                                            <option value="">--Eliga una opcion de perfil--</option>
                                            @foreach (var perfil in PerfilList)
                                            {
                                                <option value="@perfil.Code"> @perfil.Name </option>
                                            }


                                        </select>

                                    </div>




                                    @if (ModeloUsuario.perfil == "DOCENTE" || ModeloUsuario.perfil == "COORDINADOR" || ModeloUsuario.perfil == "DIRECTOR")
                                    {
                                        <div class="form-group">
                                            <label for="escSelect">Escuela</label>
                                            <select class="form-control" id="escSelect" @bind="ModeloUsuario.director.escuela.id">

                                                <option value="">--Eliga una escuela--</option>
                                                @foreach (var escuela in EscList)
                                                {
                                                    <option value="@escuela.Code"> @escuela.Name </option>
                                                }


                                            </select>

                                        </div>

                                    }

                                    <button type="submit" class="btn btn-success" value="Save">Guardar Usuario</button>
                                    <button type="reset" class="btn btn-success borrar">Borrar Datos</button>
                                </EditForm>
                            }
                            else if (ModeloUsuario.perfil == "COORDINADOR")
                            {
                                <EditForm Model="@ModeloUsuario" OnValidSubmit="HandleSubmit">
                                    <DataAnnotationsValidator />
                                    @*<ValidationSummary />*@


                                    <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input type="text" id="name" class="form-control" @bind="ModeloUsuario.coordinador.nombre" />
                                        <ValidationMessage For="@(() => ModeloUsuario.coordinador.nombre)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ApPaterno">Apellido Paterno</label>
                                        <input type="text" id="ApPaterno" class="form-control" @bind="ModeloUsuario.coordinador.apellidoPaterno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.coordinador.apellidoPaterno)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ApMaterno">Apellido Materno</label>
                                        <input type="text" id="ApMaterno" class="form-control" @bind="ModeloUsuario.coordinador.apellidoMaterno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.coordinador.apellidoMaterno)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" class="form-control" @bind="ModeloUsuario.coordinador.correoCoordinador" />
                                        <ValidationMessage For="@(() => ModeloUsuario.coordinador.correoCoordinador)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Teléfono</label>
                                        <input type="text" id="phone" class="form-control" @bind="ModeloUsuario.coordinador.telefono" />
                                        <ValidationMessage For="@(() => ModeloUsuario.coordinador.telefono)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="rut">Rut</label>
                                        <input type="text" id="rut" class="form-control" @bind="ModeloUsuario.coordinador.rut" />
                                        <ValidationMessage For="@(() => ModeloUsuario.coordinador.rut)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="perfilSelect">Perfil</label>
                                        <select class="form-control" id="perfilSelect" @bind="ModeloUsuario.perfil">

                                            <option value="">--Eliga una opcion de perfil--</option>
                                            @foreach (var perfil in PerfilList)
                                            {
                                                <option value="@perfil.Code"> @perfil.Name </option>
                                            }


                                        </select>

                                    </div>




                                    @if (ModeloUsuario.perfil == "DOCENTE" || ModeloUsuario.perfil == "COORDINADOR" || ModeloUsuario.perfil == "DIRECTOR")
                                    {
                                        <div class="form-group">
                                            <label for="escSelect">Escuela</label>
                                            <select class="form-control" id="escSelect" @bind="ModeloUsuario.coordinador.escuela.id">

                                                <option value="">--Eliga una escuela--</option>
                                                @foreach (var escuela in EscList)
                                                {
                                                    <option value="@escuela.Code"> @escuela.Name </option>
                                                }
                                                }

                                            </select>

                                        </div>

                                    }

                                    <button type="submit" class="btn btn-success" value="Save">Guardar Usuario</button>
                                    <button type="reset" class="btn btn-success borrar">Borrar Datos</button>
                                </EditForm>
                            }
                            else if (ModeloUsuario.perfil == "DOCENTE")
                            {
                                <EditForm Model="@ModeloUsuario" OnValidSubmit="HandleSubmit">
                                    <DataAnnotationsValidator />
                                    @*<ValidationSummary />*@


                                    <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input type="text" id="name" class="form-control" @bind="ModeloUsuario.docente.nombre" />
                                        <ValidationMessage For="@(() => ModeloUsuario.docente.nombre)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ApPaterno">Apellido Paterno</label>
                                        <input type="text" id="ApPaterno" class="form-control" @bind="ModeloUsuario.docente.apellidoPaterno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.docente.apellidoPaterno)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ApMaterno">Apellido Materno</label>
                                        <input type="text" id="ApMaterno" class="form-control" @bind="ModeloUsuario.docente.apellidoMaterno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.docente.apellidoMaterno)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" class="form-control" @bind="ModeloUsuario.docente.correoDocente" />
                                        <ValidationMessage For="@(() => ModeloUsuario.docente.correoDocente)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Teléfono</label>
                                        <input type="text" id="phone" class="form-control" @bind="ModeloUsuario.docente.telefono" />
                                        <ValidationMessage For="@(() => ModeloUsuario.docente.telefono)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="rut">Rut</label>
                                        <input type="text" id="rut" class="form-control" @bind="ModeloUsuario.docente.rut" />
                                        <ValidationMessage For="@(() => ModeloUsuario.docente.rut)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="perfilSelect">Perfil</label>
                                        <select class="form-control" id="perfilSelect" @bind="ModeloUsuario.perfil">

                                            <option value="">--Eliga una opcion de perfil--</option>
                                            @foreach (var perfil in PerfilList)
                                            {
                                                <option value="@perfil.Code"> @perfil.Name </option>
                                            }


                                        </select>

                                    </div>




                                    @if (ModeloUsuario.perfil == "DOCENTE" || ModeloUsuario.perfil == "COORDINADOR" || ModeloUsuario.perfil == "DIRECTOR")
                                    {
                                        <div class="form-group">
                                            <label for="escSelect">Escuela</label>
                                            <select class="form-control" id="escSelect" @bind="ModeloUsuario.docente.escuela.id">

                                                <option value="">--Eliga una escuela--</option>
                                                @foreach (var escuela in EscList)
                                                {
                                                    <option value="@escuela.Code"> @escuela.Name </option>
                                                }
                                                }

                                            </select>

                                        </div>

                                    }

                                    <button type="submit" class="btn btn-success" value="Save">Guardar Usuario</button>
                                    <button type="reset" class="btn btn-success borrar">Borrar Datos</button>
                                </EditForm>
                            }
                            else if (ModeloUsuario.perfil == "PANOLERO")
                            {
                                <EditForm Model="@ModeloUsuario" OnValidSubmit="HandleSubmit">
                                    <DataAnnotationsValidator />
                                    @*<ValidationSummary />*@


                                    <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input type="text" id="name" class="form-control" @bind="ModeloUsuario.panolero.nombre" />
                                        <ValidationMessage For="@(() => ModeloUsuario.panolero.nombre)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ApPaterno">Apellido Paterno</label>
                                        <input type="text" id="ApPaterno" class="form-control" @bind="ModeloUsuario.panolero.apellidoPaterno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.panolero.apellidoPaterno)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="ApMaterno">Apellido Materno</label>
                                        <input type="text" id="ApMaterno" class="form-control" @bind="ModeloUsuario.panolero.apellidoMaterno" />
                                        <ValidationMessage For="@(() => ModeloUsuario.panolero.apellidoMaterno)" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" class="form-control" @bind="ModeloUsuario.panolero.correoPanolero" />
                                        <ValidationMessage For="@(() => ModeloUsuario.panolero.correoPanolero)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Teléfono</label>
                                        <input type="text" id="phone" class="form-control" @bind="ModeloUsuario.panolero.telefono" />
                                        <ValidationMessage For="@(() => ModeloUsuario.panolero.telefono)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="rut">Rut</label>
                                        <input type="text" id="rut" class="form-control" @bind="ModeloUsuario.panolero.rut" />
                                        <ValidationMessage For="@(() => ModeloUsuario.panolero.rut)" />
                                    </div>

                                    <div class="form-group">
                                        <label for="perfilSelect">Perfil</label>
                                        <select class="form-control" id="perfilSelect" @bind="ModeloUsuario.perfil">

                                            <option value="">--Eliga una opcion de perfil--</option>
                                            @foreach (var perfil in PerfilList)
                                            {
                                                <option value="@perfil.Code"> @perfil.Name </option>
                                            }


                                        </select>

                                    </div>




                                    @*@if (NuevoUsuarioModel.perfil == "DOCENTE" || NuevoUsuarioModel.perfil == "COORDINADOR" || NuevoUsuarioModel.perfil == "DIRECTOR")
                    {
                        <div class="form-group">
                            <label for="escSelect">Escuela</label>
                            <select class="form-control" id="escSelect" @bind="NuevoUsuarioModel.director.escuela.id">

                                <option value="">--Eliga una escuela--</option>
                                @foreach (var escuela in EscList)
                                {
                                    <option value="@escuela.Code"> @escuela.Name </option>
                                }
                                }

                            </select>

                        </div>

                    }*@

                                    <button type="submit" class="btn btn-success" value="Save">Guardar Usuario</button>
                                    <button type="reset" class="btn btn-success borrar">Borrar Datos</button>
                                </EditForm>
                            }
                            else
                            {
                                <div class="row justify-content-center">
                                    
                                    <p> No disponible.</p>
                                </div>
                            }

                        }
                        else
                        {
                            <div class="row justify-content-center">
                                <img src="images/loading.svg" alt="Cargando" />
                                <p> Cargando perfil</p>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  @onclick="@(e =>  OpenModalCerrar())" data-dismiss="modal">Salir</button>

            </div>
        </div>
    </div>
</div>


@code {


    [Parameter] public UsuarioModel ModeloUsuario { get; set; }

    string selectedOpc;

    string SelectedOpc
    {
        get => selectedOpc;
        set
        {
            selectedOpc = value;

        }
    }

    List<Perfil> PerfilList = new List<Perfil>() { new Perfil ("ALUMNO", "Alumno"),
                                                      new Perfil ("DOCENTE", "Docente"),
                                                      new Perfil ("COORDINADOR", "Coordinador"),
                                                      new Perfil ("DIRECTOR", "Director"),
                                                      new Perfil ("PANOLERO", "Pañolero")
                                                                                };

    public class Perfil
    {

        public Perfil(string code, string name)
        {
            Code = code;
            Name = name;
        }
        public string Code { get; set; }
        public string Name { get; set; }

    }

    // Seleccionar opciones de escuela

    string selectedEsc;

    string SelectedEsc
    {
        get => selectedEsc;
        set
        {
            selectedEsc = value;

        }
    }

    List<Escuela> EscList = new List<Escuela>() { new Escuela ("1", "Escuela de Ingeniería"),
                                                      new Escuela ("2", "Escuela de Informática y Telecomunicaciones"),
                                                      new Escuela ("3", "Escuela de Construcción"),
                                                      new Escuela ("4", "Escuela de Administración y Negocios")  };

    public class Escuela
    {

        public Escuela(string code, string name)
        {
            Code = code;
            Name = name;
        }
        public string Code { get; set; }
        public string Name { get; set; }

    }
    // Seleccionar opciones de Carrera

    string selectedCar;

    string SelectedCar
    {
        get => selectedCar;
        set
        {
            selectedCar = value;

        }
    }

    List<Carrera> CarList = new List<Carrera>() {     new Carrera ("1", "Técnico en Mecánica Automotriz y Autotrónica"),
                                                      new Carrera ("2", "Ingeniería en Mecánica Automotriz y Autotrónica"),
                                                      new Carrera ("3", "Administración de Redes y Telecomunicaciones"),
                                                      new Carrera ("4", "Analista Programador Computacional"),
                                                      new Carrera ("5", "Ingeniería en Conectividad y Redes"),
                                                      new Carrera ("6", "Ingeniería en Informática"),
                                                      new Carrera ("7", "Técnico en Construcción"),
                                                      new Carrera ("8", "Ingeniería en Construcción"),
                                                      new Carrera ("9", "Ingeniería en Prevención de Riesgos"),
                                                      new Carrera ("10", "Técnico en Marketing"),
                                                      new Carrera ("11", "Técnico en Gestión de Personas"),
                                                      new Carrera ("12", "Contabilidad General Mención Legislación Tributaria"),
                                                      new Carrera ("13", "Auditoría"),
                                                      new Carrera ("14", "Ingeniería en Administración Mención Gestión de Personas"),
                                                      new Carrera ("15", "Ingeniería en Gestión Logística"),
                                                      new Carrera ("16", "Ingeniería en Administración Mención Marketing"),
                                                      new Carrera ("17", "Ingeniería en Administración Mención Finanzas")

    };

    public class Carrera
    {

        public Carrera(string code, string name)
        {
            Code = code;
            Name = name;
        }
        public string Code { get; set; }
        public string Name { get; set; }

    }

    // Proceso de guardado

    private async Task HandleSubmit()
    {
        var response = await Js.Confirm("¿Estás seguro/a?", "Al confirmar quieres editar a este usuario.", TipoMensajeSweetAlert.question);
        string IdEditar = "";
        if (response)
        {
            string username = await Js.GetFromLocalStorage("username");
            UsuarioModel usuario = await Http.GetJsonAsync<UsuarioModel>("http://localhost:8080/usuario/username/" + username);

            if (ModeloUsuario.perfil == "PANOLERO")
            {
                IdEditar = (ModeloUsuario.panolero.id).ToString();
                var requestMessage = new HttpRequestMessage()
                {
                    Method = new HttpMethod("POST"),
                    RequestUri = new Uri("http://localhost:8080/panolero/" + IdEditar),
                    Content = new StringContent(
               @"{
                   ""rut"": """ + ModeloUsuario.panolero.rut + @""",
                   ""apellidoPaterno"": """ + ModeloUsuario.panolero.apellidoPaterno + @""",
                   ""apellidoMaterno"": """ + ModeloUsuario.panolero.apellidoMaterno + @""",
                   ""nombre"": """ + ModeloUsuario.panolero.nombre + @""",
                   ""logResponsable"": """ + usuario.id + @""",
                   ""telefono"": """ + ModeloUsuario.panolero.telefono + @""",
                   ""correoPanolero"": """ + ModeloUsuario.panolero.correoPanolero + @"""}"
                )
                };
                requestMessage.Content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue("application/json");
                requestMessage.Content.Headers.TryAddWithoutValidation("x-custom-header", "value");

                var result = await Http.SendAsync(requestMessage);
                Console.WriteLine(result);
            }
            else if (ModeloUsuario.perfil == "ALUMNO")
            {
                IdEditar = (ModeloUsuario.alumno.id).ToString();
                var requestMessage = new HttpRequestMessage()
                {
                    Method = new HttpMethod("POST"),
                    RequestUri = new Uri("http://localhost:8080/alumno/" + IdEditar),
                    Content = new StringContent(
                    @"{
                   ""apellidoPaterno"": """ + ModeloUsuario.alumno.apellidoPaterno + @""",
                   ""apellidoMaterno"": """ + ModeloUsuario.alumno.apellidoMaterno + @""",
                   ""nombre"": """ + ModeloUsuario.alumno.nombre + @""",
                   ""logResponsable"": """ + usuario.id + @""",
                   ""telefono"": """ + ModeloUsuario.alumno.telefono + @""",
                   ""correoAlumno"": """ + ModeloUsuario.alumno.correoAlumno + @""",
                   ""carrera"": """ + ModeloUsuario.alumno.carrera.id + @"""}"
                )
                };
                requestMessage.Content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue("application/json");
                requestMessage.Content.Headers.TryAddWithoutValidation("x-custom-header", "value");

                var result = await Http.SendAsync(requestMessage);
                Console.WriteLine(result);
            }
            else if (ModeloUsuario.perfil == "DOCENTE")
            {
                IdEditar = (ModeloUsuario.docente.id).ToString();
                var requestMessage = new HttpRequestMessage()
                {
                    Method = new HttpMethod("POST"),
                    RequestUri = new Uri("http://localhost:8080/docente/" + IdEditar),
                    Content = new StringContent(
                    @"{  
                    ""rut"": """ + ModeloUsuario.docente.rut + @""",
                   ""apellidoPaterno"": """ + ModeloUsuario.docente.apellidoPaterno + @""",
                   ""apellidoMaterno"": """ + ModeloUsuario.docente.apellidoMaterno + @""",
                   ""nombre"": """ + ModeloUsuario.docente.nombre + @""",
                   ""logResponsable"": """ + usuario.id + @""",
                   ""telefono"": """ + ModeloUsuario.docente.telefono + @""",
                   ""correoDocente"": """ + ModeloUsuario.docente.correoDocente + @""",
                   ""escuela"": """ + ModeloUsuario.docente.escuela.id + @"""}"
                )
                };
                requestMessage.Content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue("application/json");
                requestMessage.Content.Headers.TryAddWithoutValidation("x-custom-header", "value");

                var result = await Http.SendAsync(requestMessage);
                Console.WriteLine(result);
            }
            else if (ModeloUsuario.perfil == "COORDINADOR")
            {
                IdEditar = (ModeloUsuario.coordinador.id).ToString();
                var requestMessage = new HttpRequestMessage()
                {
                    Method = new HttpMethod("POST"),
                    RequestUri = new Uri("http://localhost:8080/coordinador/" + IdEditar),
                    Content = new StringContent(
                     @"{  
                    ""rut"": """ + ModeloUsuario.coordinador.rut + @""",
                   ""apellidoPaterno"": """ + ModeloUsuario.coordinador.apellidoPaterno + @""",
                   ""apellidoMaterno"": """ + ModeloUsuario.coordinador.apellidoMaterno + @""",
                   ""nombre"": """ + ModeloUsuario.coordinador.nombre + @""",
                   ""logResponsable"": """ + usuario.id + @""",
                   ""telefono"": """ + ModeloUsuario.coordinador.telefono + @""",
                   ""correoCoordinador"": """ + ModeloUsuario.coordinador.correoCoordinador + @""",
                   ""escuela"": """ + ModeloUsuario.coordinador.escuela.id + @"""}"
                )
                };
                requestMessage.Content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue("application/json");
                requestMessage.Content.Headers.TryAddWithoutValidation("x-custom-header", "value");

                var result = await Http.SendAsync(requestMessage);
                Console.WriteLine(result);
            }
            else if (ModeloUsuario.perfil == "DIRECTOR")
            {
                IdEditar = (ModeloUsuario.director.id).ToString();
                var requestMessage = new HttpRequestMessage()
                {
                    Method = new HttpMethod("POST"),
                    RequestUri = new Uri("http://localhost:8080/director/" + IdEditar),
                    Content = new StringContent(
                     @"{  
                    ""rut"": """ + ModeloUsuario.director.rut + @""",
                   ""apellidoPaterno"": """ + ModeloUsuario.director.apellidoPaterno + @""",
                   ""apellidoMaterno"": """ + ModeloUsuario.director.apellidoMaterno + @""",
                   ""nombre"": """ + ModeloUsuario.director.nombre + @""",
                   ""logResponsable"": """ + usuario.id + @""",
                   ""telefono"": """ + ModeloUsuario.director.telefono + @""",
                   ""correoDirector"": """ + ModeloUsuario.director.correoDirector + @""",
                   ""escuela"": """ + ModeloUsuario.director.escuela.id + @"""}"
                )
                };
                requestMessage.Content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue("application/json");
                requestMessage.Content.Headers.TryAddWithoutValidation("x-custom-header", "value");

                var result = await Http.SendAsync(requestMessage);
                Console.WriteLine(result);
            };



            //await OnRefresh.InvokeAsync(true);


            await Js.MostrarMensaje("Guardado!", "Se ha modificado correctamente el usuario.", TipoMensajeSweetAlert.success);



            await Js.CloseModal("EditUsuarioModal");


        }
    }




    //modal cerrar

    private void OpenModalCerrar()
    {


        ModeloUsuario = null;

        Js.CloseModal("EditUsuarioModal");

    }

}