@page "/usuarios"
@attribute [Authorize]
@layout Layout.AdmUsuarioLayout
@inject IToastService toastService
<h3>Administración de Usuarios</h3>



<button class="btn btn-info" @onclick="@(() => toastService.ShowInfo("I'm an INFO message"))">Info Toast</button>
<button class="btn btn-success" @onclick="@(() => toastService.ShowSuccess("I'm a SUCCESS message with a custom title", "Congratulations!"))">Success Toast</button>
<button class="btn btn-warning" @onclick="@(() => toastService.ShowWarning("I'm a WARNING message"))">Warning Toast</button>
<button class="btn btn-danger" @onclick="@(() => toastService.ShowError("I'm an ERROR message"))">Error Toast</button>
<button class="btn btn-info" @onclick="@OnShowHtml">Info Toast with HTML</button>

@code {

    private void OnShowHtml()
    {
        
        RenderFragment message =@<text>Info Toast with <strong>bold</strong> text</text>;
        toastService.ShowToast(ToastLevel.Info, message);
    }

}
