@using DataModel
@using FormModel
@inject NavigationManager Navigation
@inject IJSRuntime Js
@inject HttpClient Http

<div class="py-3 col-12">
    <div class="shadow card">
        <div class="card-header font-weight-bold" style="color: #343A40">@(Titulo)</div>
        <div class="card-body">
            <EditForm Model="FiltrosModel">
                <div class="col-12">
                    <div class="row justify-content-between">
                        <h4>Filtros <a class="text-muted"><span class="oi oi-loop-circular" @onclick="ClearFilter" style="vertical-align: text-bottom"></span></a></h4>
                        <button type="submit" class="btn btn-primary" @onclick="FilterSolicitudes"><span class="oi oi-magnifying-glass"></span> Aplicar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label>Búsqueda por nombre de solicitante</label>
                        <input class="form-control" type="text" @bind="FiltrosModel.nombreSolicitante" placeholder="@("Busqueda por nombre (ej." + @"""Rick Sanchez"")")" />
                    </div>
                    <div class="form-group col-4">
                        <label>Perfil solicitante</label>
                        <InputSelect class="form-control" @bind-Value="FiltrosModel.perfilSolicitante">
                            <option class="text-muted" value="">--Seleccione perfil--</option>
                            <option value="alumno">Alumno</option>
                            <option value="docente">Docente</option>
                        </InputSelect>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@if (Solicitudes == null)
{
    <div class="col-12">
        <div class="row justify-content-center">
            <img src="images/loading.svg" alt="Cargando" />
        </div>
    </div>
}
else if (Solicitudes.Count == 0)
{
    <div class="col-12">
        <div class="row justify-content-center">
            <p class="text-muted">No se encontraron solicitudes.</p>
        </div>
    </div>
}
else
{
    <div class="py-3 col-12">
        <div class="shadow card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center" scope="col">Código</th>
                                <th class="text-center" scope="col">Solicitante</th>
                                <th class="text-center" scope="col">Perfil Solicitante</th>
                                <th class="text-center" scope="col">Panolero Responsable</th>
                                <th class="text-center" scope="col">Fecha Ingreso</th>
                                <th class="text-center" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Solicitud in Solicitudes)
                            {
                            <tr>
                                <th class="text-center" scope="row">@Solicitud.id</th>
                                @if (Solicitud.usuario.alumno != null)
                                {
                                    <td class="text-center">@(Solicitud.usuario.alumno.nombre + " " + Solicitud.usuario.alumno.apellidoPaterno)</td>
                                }
                                @if (Solicitud.usuario.docente != null)
                                {
                                    <td class="text-center">@(Solicitud.usuario.docente.nombre + " " + Solicitud.usuario.docente.apellidoPaterno)</td>
                                }

                                @if (Solicitud.usuario.perfil == "ALUMNO")
                                {
                                    <td class="text-center">
                                        <div class="card rounded-pill bg-dark">
                                            <div class="d-flex">
                                                <div class="card rounded-pill bg-warning">
                                                    <img src="images/images-core/alumno.png" alt="Alumno" style="max-height: 30px; width: auto;" />
                                                </div>
                                                <div class="px-3 text-light align-self-center m-auto">
                                                    Alumno
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        <div class="card rounded-pill bg-info">
                                            <div class="d-flex">
                                                <div class="card rounded-pill bg-warning">
                                                    <img src="images/images-core/docente.png" alt="Docente" style="max-height: 30px; width: auto;" />
                                                </div>
                                                <div class="px-3 text-light align-self-center m-auto">
                                                    Docente
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                }

                                @if (Solicitud.panolero != null)
                                {
                                    <td class="text-center">@(Solicitud.panolero.nombre + " " + Solicitud.panolero.apellidoPaterno)</td>
                                }
                                else
                                {
                                    <td class="text-center"><span class="badge badge-pill badge-secondary" style="font-size:90%">SIN ASIGNAR</span></td>
                                }
                                <td class="text-center"><span class="badge badge-pill @(ChangeClassFromDate(Solicitud.fechaCreacion)) font-weight-normal" style="font-size: 95%">@(TransformDate(Solicitud.fechaCreacion))</span></td>
                                <td class="text-center">
                                    <div class="btn-group col-12" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary" @onclick="@(e => ViewSolicitud(Solicitud.id))">
                                            <span class="oi oi-eye"></span>  /  <span class="oi oi-pencil"></span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" @onclick=@(e => DeleteSolicitud(Solicitud))>
                                            <span class="oi oi-trash"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public List<SolicitudModel> Solicitudes { get; set; }
    [Parameter] public string Titulo { get; set; }
    List<SolicitudModel> SeedSolicitudes;

    private FiltrosSolicitudesModel FiltrosModel = new FiltrosSolicitudesModel();

    protected override void OnInitialized()
    {
        if (SeedSolicitudes == null)
        {
            SeedSolicitudes = Solicitudes;
        }
    }

    private void ViewSolicitud(int Id)
    {
        Navigation.NavigateTo("solicitudes/" + Id.ToString());
    }

    private void ClearFilter()
    {
        Solicitudes = null;
        Solicitudes = SeedSolicitudes;

        FiltrosModel = new FiltrosSolicitudesModel();
    }

    private async Task FilterSolicitudes()
    {
        if (SeedSolicitudes == null || SeedSolicitudes.Count == 0)
        {
            return;
        }

        Solicitudes = null;
        List<SolicitudModel> SolicitudesToFilter = new List<SolicitudModel>();
        if (SeedSolicitudes[0].estado.Equals("entregada"))
        {
            SolicitudesToFilter = await Http.GetJsonAsync<List<SolicitudModel>>("http://localhost:8080/solicitud/estado/entregada");
        }
        if (SeedSolicitudes[0].estado.Equals("pendiente"))
        {
            SolicitudesToFilter = await Http.GetJsonAsync<List<SolicitudModel>>("http://localhost:8080/solicitud/estado/pendiente");
        }
        if (SeedSolicitudes[0].estado.Equals("esperando"))
        {
            SolicitudesToFilter = await Http.GetJsonAsync<List<SolicitudModel>>("http://localhost:8080/solicitud/estado/esperando");
        }
        if (SeedSolicitudes[0].estado.Equals("completada"))
        {
            SolicitudesToFilter = await Http.GetJsonAsync<List<SolicitudModel>>("http://localhost:8080/solicitud/estado/completada");
        }

        if (FiltrosModel.perfilSolicitante != null && FiltrosModel.perfilSolicitante != "")
        {
            foreach (SolicitudModel solicitud in SolicitudesToFilter.ToList())
            {
                if (solicitud.usuario.perfil.ToUpper() != FiltrosModel.perfilSolicitante.ToUpper())
                {
                    SolicitudesToFilter.Remove(solicitud);
                }
            }
        }

        if (FiltrosModel.nombreSolicitante != null && FiltrosModel.nombreSolicitante != "")
        {
            string nombre = "";
            foreach (SolicitudModel solicitud in SolicitudesToFilter.ToList())
            {
                if (solicitud.usuario.perfil == "ALUMNO")
                {
                    nombre = solicitud.usuario.alumno.nombre + " " + solicitud.usuario.alumno.apellidoPaterno + " " + solicitud.usuario.alumno.apellidoMaterno;
                }
                else
                {
                    nombre = solicitud.usuario.docente.nombre + " " + solicitud.usuario.docente.apellidoPaterno + " " + solicitud.usuario.docente.apellidoMaterno;
                }

                nombre = nombre.ToUpper();

                if (!nombre.Contains(FiltrosModel.nombreSolicitante.ToUpper()))
                {
                    SolicitudesToFilter.Remove(solicitud);
                }
                nombre = "";
            }
        }

        Solicitudes = SolicitudesToFilter;
    }

    private string ChangeClassFromDate(string creationDate)
    {
        DateTime dateInput = DateTime.ParseExact(creationDate, "yyyy-MM-dd HH:mm:ss", null);
        var dateDiferential = (DateTime.Now.AddHours(-4) - dateInput);
        string classOutput = "badge-info text-light";

        if (dateDiferential.Days == 0)
        {
            classOutput = "badge-warning text-black-50";
        }

        return classOutput;
    }

    private string TransformDate(string creationDate)
    {
        DateTime dateInput = DateTime.ParseExact(creationDate, "yyyy-MM-dd HH:mm:ss", null);
        var dateDiferential = (DateTime.Now.AddHours(-4) - dateInput);
        string dateOutput = "";

        if (dateDiferential.Days > 1)
        {
            dateOutput = dateInput.ToString("dd/MM/yyyy");
            dateOutput.Replace(' ', '/');
            return dateOutput;
        }

        if (dateDiferential.Days == 1)
        {
            dateOutput = "ayer";
            return dateOutput;
        }

        if (dateDiferential.Hours == 1)
        {
            dateOutput = "hace " + dateDiferential.Hours + " hora";
            return dateOutput;
        }

        if (dateDiferential.Hours <= 23 && dateDiferential.Hours > 1)
        {
            dateOutput = "hace " + dateDiferential.Hours + " hrs.";
            return dateOutput;
        }

        if (dateDiferential.Minutes <= 59 && dateDiferential.Minutes >= 5)
        {
            dateOutput = "hace " + dateDiferential.Minutes + " min.";
            return dateOutput;
        }

        if (dateDiferential.Minutes < 5)
        {
            dateOutput = "recién";
            return dateOutput;
        }

        return "No se pudo calcular!";
    }

    private async Task DeleteSolicitud(SolicitudModel solicitud)
    {
        var response = await Js.Confirm("¿Estás seguro?", "Si acepta, anulará la solicitud.", TipoMensajeSweetAlert.warning);

        if (response)
        {

            string username = await Js.GetFromLocalStorage("username");
            UsuarioModel usuario = await Http.GetJsonAsync<UsuarioModel>("http://localhost:8080/usuario/username/" + username);
            solicitud.logResponsable = usuario.id.ToString();

            if (usuario.panolero != null)
            {
                solicitud.panolero = usuario.panolero;

                var requestMessage = new HttpRequestMessage()
                {
                    Method = new HttpMethod("POST"),
                    RequestUri = new Uri("http://localhost:8080/solicitud/borrar/" + solicitud.id.ToString()),
                    Content = new StringContent(
                        solicitud.DeleteFormatJson(solicitud)
                    )
                };

                requestMessage.Content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue("application/json");
                requestMessage.Content.Headers.TryAddWithoutValidation("x-custom-header", "value");

                Http.SendAsync(requestMessage);

                Js.MostrarMensaje("Anulada!", "Se ha anulado la solicitud correctamente.", TipoMensajeSweetAlert.success);

                var index = Solicitudes.FindIndex(s => s.id == solicitud.id);
                Solicitudes.RemoveAt(index);
            } else
            {
                await Js.MostrarMensaje("Sin Acceso", "Usted no tiene permisos para anular solicitudes.", TipoMensajeSweetAlert.error);
            }
        }
    }
}
