@using DataModel
@inject NavigationManager Navigation

@if (Solicitudes == null)
{
    <div class="row justify-content-center">
        <img src="images/loading.svg" alt="Cargando" />
    </div>

}
else if (Solicitudes.Count == 0)
{
    <p>No hay solicitudes por ahora.</p>
}
else
{
    <div class="py-3 col-12">
        <div class="card">
            <div class="card-body">
                <h4>@Titulo</h4>
                <hr />
                <div class="col-4">
                    <label for="perfilSelect"> Perfil</label>
                    <select class="form-control" id="perfilSelect">
                        <option>Alumno</option>
                        <option>Docente</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <div class="py-3 col-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Solicitante</th>
                            <th scope="col">Perfil Solicitante</th>
                            <th scope="col">Panolero Responsable</th>
                            <th scope="col">Fecha Ingreso</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Solicitud in Solicitudes)
                        {
                            <tr>
                                <th scope="row">@Solicitud.id</th>
                                @if (Solicitud.usuario.alumno != null)
                                {
                                    <td>@(Solicitud.usuario.alumno.nombre + " " + Solicitud.usuario.alumno.apellidoPaterno)</td>
                                }
                                @if (Solicitud.usuario.docente != null)
                                {
                                    <td>@(Solicitud.usuario.docente.nombre + " " + Solicitud.usuario.docente.apellidoPaterno)</td>
                                }
                                <td>@Solicitud.usuario.perfil</td>
                                <td>@(Solicitud.panolero.nombre + " " + Solicitud.panolero.apellidoPaterno)</td>
                                <td>@Solicitud.fechaCreacion</td>
                                <td>
                                    <div class="btn-group col-12" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary" @onclick="@(e => ViewSolicitud(Solicitud.id))">
                                            <span class="oi oi-eye"></span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" @onclick="@(e => EditSolicitud(Solicitud.id))">
                                            <span class="oi oi-pencil"></span>
                                        </button>
                                        <button type="button" class="btn btn-secondary">
                                            <span class="oi oi-trash"></span>
                                        </button>
                                    </div>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
}

@code {
    [Parameter] public List<SolicitudModel> Solicitudes { get; set; }
    [Parameter] public string Titulo { get; set; }

    private void ViewSolicitud(int Id)
    {
        Navigation.NavigateTo("solicitudes/" + Id.ToString());
    }

    private void EditSolicitud(int Id)
    {
        Navigation.NavigateTo("solicitudes/" + Id.ToString());
    }
}
